<div class="blog_entry{% if not entry.is_published %} draft{% endif %}">

  <h2 class="topic"><a href="{{ entry.get_absolute_url }}">{{ entry.headline|safe }}</a> {% if perms.blog.change_entry %}<span class="edit"><a href="{% url "admin:blog_entry_change" entry.id %}">Edit</a></span>{% endif %} 
  </h2>

  <div class="content" >
    <div class="date">{{ entry.pub_date|date:"l, j F Y G:i T" }}</div>
  
    {{ entry.abstract|safe }} 

    <div class="byline">
    Posted by <a href="{{ entry.author.get_absolute_url}}">{{entry.author}}</a>
    {% ifnotequal entry.modified entry.pub_date %}
      Updated on {{ entry.modified|date:"l, j F Y G:i T" }}
    {% endifnotequal %}
    </div>

    {% if entry.tags %}
    <div class="tags">
	    Tags: 
	    {% for tag in entry.tags.all %}
	      <a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a>{% if not forloop.last %},{% endif %} 
	    {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="comment_summary">
    <a href="{{ entry.get_absolute_url }}">Comment{{ comment_count|pluralize }}: {{comment_count }}</a>
  </div>

</div>
