{% load comments %}
{% get_comment_list for object as comment_list %}

<div class="blog_entry{% if not object.is_published %} draft{% endif %}">

  <h2 class="topic">{% if not object.is_published %}Draft: {% endif %}{{ object.headline|safe }}
    {% if perms.blog.change_entry %}<span class="edit"><a href="{% url admin:blog_entry_change object.id %}">Edit</a></span>{% endif %} 
  </h2>

  <div class="content" >
    <div class="date">{{ object.pub_date|date:"l, j F Y G:i T" }}</div>
  
    {{ object.content|safe }} 

    <div class="byline">
    Posted by <a href="{{ object.author.get_absolute_url}}">{{object.author}}</a>
    {% ifnotequal object.modified object.pub_date %}
      Updated on {{ object.modified|date:"l, j F Y G:i T" }}
    {% endifnotequal %}
    </div>

    {% if object.tags %}
    <div class="tags">
	    Tags: 
	    {% for tag in object.tags.all %}
	      <a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a>{% if not forloop.last %},{% endif %} 
	    {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="blog_paginate">
    {% if object.get_previous_by_pub_date %}
	  <div class="blog_paginate_newer">
	    <a href="{{ object.get_previous_post.get_absolute_url }}">{{ object.get_previous_post|safe }}</a> 
      </div>
    {% endif %}
    {% if has_next and has_previous %} 
	  <div class="blog_paginate_home"><a href="{% url entry_index %}">Home</a></div>
    {% endif %}

    {% if object.get_next_by_pub_date %}
	  <div class="blog_paginate_newer">
	    <a href="{{ object.get_next_post.get_absolute_url }}">{{ object.get_next_post|safe }}</a> 
      </div>
    {% endif %}
  </div>

  <div class="comments">
    {% if comment_list %}
	  <a name="comments"></a>
      <h3 class="comments_title">Comments</h3>
      {% for comment in comment_list %}
        {% if comment.is_public %}
        <div class="comment">
          <h5 class="name">
            <a name="c{{ comment.id }}" href="{{ comment.get_absolute_url }}" title="Permalink to {{ comment.person_name }}'s comment" class="count">{{ forloop.counter }}</a> {% if comment.user_url %}<a href="{{ comment.user_url }}">{{ comment.user_name }}</a>{% else %}{{ comment.user_name }}{% endif %}
says...
          </h5>
          {{ comment.comment|safe|removetags:"a"|urlize }}
          <div class="date">{{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}
		  </div>
        </div>
		{% endif %}
      {% endfor %}
    {% endif %}
  </div> <!-- article_comments -->

  <div class="comment_form">
    {% if object.can_comment %}
      <h3>Add your comment.</h3>
      {% render_comment_form for object %}
    {% else %}
      <h3>Comments are closed.</h3>
      <p>Comments have been closed for this post.</p>
    {% endif %}
  </div>
</div>
