{% extends "blog/base.html" %}

{% block title %}{{ block.super }} Author Detail{% endblock %}
{% block body_class %}{{ block.super }} author_detail{% endblock %}
{% block content_title %}Author Detail{% endblock %}

{% block content %}
	<div class="author" >
		<div class="author_header" >
			<h1>{{ object.name }}</h1>
			<h2><a href="mailto:{{ object.email }}">{{ object.email }}</a></h2>

			{% if perms.blog.change_author %}
				<a href="{% url admin:blog_author_change object.id %}">Edit</a>
			{% endif %}
		</div>
		<div class="author_content" >
			{{ object.content|safe }}
		</div>
	</div>
{% endblock %}
