{% extends "blog/base.html" %}

{% block title %}{{ object.headline|safe }}{% endblock %}
{% block body_id %}post_{{ object.id }}{% endblock %}

{% block content_title %}
  <h2>{{ object.headline|safe }}</h2>
  <p class="other_posts">
    {% if object.get_previous_by_pub_date %}
    <a class="previous" href="{{ object.get_previous_post.get_absolute_url }}">&laquo; {{ object.get_previous_post|safe }}</a> {% endif %}
    {% if object.get_next_by_pub_date %}
	| <a class="next" href="{{ object.get_next_post.get_absolute_url }}">{{ object.get_next_post|safe }} &raquo;</a> 
    {% endif %}
  </p>
{% endblock %}

{% block content %}
	{% include "blog/includes/entry.html" %}
{% endblock %}
