{% extends "blog/base.html" %}

{% block title %}{{ block.super }} Archive for {{ month|date:"F Y" }}{% endblock %}
{% block content %}
  <div class="blog_archive">
    <h1>{{ month|date:"F" }} <a href="{% url archive_year month|date:"Y" %}">{{ month|date:"Y" }}</a></h1>

    {% load comments %}
 
    {% for entry in object_list %}
      {% get_comment_count for entry as comment_count %}
      {% include "blog/includes/entry_summary.html" %}
    {% endfor %}

    {% if is_paginated %}
      {% include "blog/includes/entry_paginate.html" %}
    {% endif %}

  </div>
{% endblock %}
